@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap");

:root {
  --primary-color: #ff1e40;
  --bg-color: #181f2c;
  --footer-color: #0e121a;
}

* {
  font-family: "Roboto", sans-serif;
  color: whitesmoke;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  all: unset;
}

/* For desktop: */

/* Header (Logo + Nav) */

header {
  height: 10vh;
  background-color: var(--bg-color);
  padding: 0 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */

.icono {
  height: 35px;
}

.logo {
  font-size: 30px;
  font-weight: 100;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

/* Menú de navegación */

nav > a {
  all: unset;
  cursor: pointer;
  color: whitesmoke;
  padding: 5px;
  font-size: 18px;
}

nav > a:hover {
  color: var(--primary-color);
}

/* Background */

.container {
  max-width: 100%;
  height: 79vh;
  background-image: url(../assets/images/Background-4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

/* Row FlexBox ---------------------*/

.container .wrap {
  width: 90%;
  max-width: 1100px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .wrap h1 {
  font-size: 85px;
  font-weight: 100;
}

/* Column FlexBox */

.container .wrap .text {
  font-weight: 100;
  font-size: 30px;
  padding: 0 25px 0 25px;
  flex: 1;
  max-width: 500px;
  height: auto;
  text-align: left;
}

/* Column FlexBox */

.container .wrap .image-bio {
  flex: 1;
  background-image: url(../assets/biography/Persona1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  align-self: center;
  max-width: 500px;
  height: 590px;
}

/* Footer ------------------------------*/

footer {
  height: 10.5vh;
  background-color: var(--bg-color);
  padding: 0 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer span {
  font-weight: 100;
}

footer .social {
  height: 20px;
  align-self: center;
  margin-left: 10px;
}

footer .social a {
  cursor: pointer;
}

.line {
  background-color: var(--primary-color);
  height: 0.5vh;
  display: flex;
}

/* Portfolio */

.cards-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 70%;
  max-width: 900px;
  height: 90%;
  margin: 0 auto;
}

.card {
  background-color: var(--primary-color);
  margin: 10px;
  width: 250px;
  padding: 0 15px 15px 15px;
  border-radius: 5px;
  box-shadow: 12px 10px 5px -4px rgba(0, 0, 0, 0.32);
  -webkit-box-shadow: 12px 10px 5px -4px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 12px 10px 5px -4px rgba(0, 0, 0, 0.32);
}

.card img {
  width: 250px;
}

.card img:hover {
  transform: scale(1.5);
}

.card video {
  width: 250px;
  height: 160px;
}

.card audio {
  width: 250px;
}


/* Contacto  */

.contact {
  width: 100%;  
  margin: 0;  
  font-size: 16px;
}

.contact h1 {
  text-align: center;
  font-size: 12px;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

fieldset {
  border: none;
  padding: 0.5rem 0;
  border-bottom: 3px solid #3b3b4f;
}

fieldset:last-of-type {
  border-bottom: none;
}

label {
  display: block;
  margin: 0.5rem 0;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

input, textarea {  
  color: black
}



input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: var(--primary-color);
  color: white;
  min-width: 300px;
  border: none;
}



/* ----------------------------------------------------------------------------- */

@media (min-width: 320px) and (max-width: 480px) {
  .logo a {
    display: none;
  }

  nav > a {
    padding: 5px;
    font-size: 14px;
  }

  .container .wrap {
    flex-direction: column;
    justify-content: center;
  }

  .container .wrap h1 {
    font-size: 55px;
    font-weight: 100;
  }

  /* Column FlexBox */

  .container .wrap .text {
    font-weight: 300;
    font-size: 22px;
    width: 250px;
    text-align: center;
    align-items: center;
  }

  /* Column FlexBox */

  .container .wrap .image-bio {
    width: 300px;
    height: auto;
  }

  footer {
    justify-content: center;
  }

  footer span {
    display: none;
  }

  footer .social {
    height: 30px;
    margin: 0 10px 0 10px;
  }

  /* Portfolio */

  .cards-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    max-width: 900px;
    height: 90%;
    margin: 0 auto;
  }

  .card {
    background-color: var(--primary-color);
    margin-top: 10px;
    width: 150px;
    padding: 0 5px 5px 5px;
    border-radius: 5px;
    box-shadow: 12px 10px 5px -4px rgba(0, 0, 0, 0.32);
    -webkit-box-shadow: 12px 10px 5px -4px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 12px 10px 5px -4px rgba(0, 0, 0, 0.32);
  }

  .card img {
    width: 150px;
  }

  .card img:hover {
    transform: scale(1.5);
  }

  .card video {
    width: 150px;
    height: 80px;
  }

  .card audio {
    width: 150px;
  }

  .card h3 {
    text-align: center;
    margin: 5px;
  }
}
